body{background: #f5f5f5; font-family: 'Open Sans', sans-serif !important;}
.logo{display: block; float: left;}
.logo img{width: 150px}
header{padding: 10px 0; position: fixed; width: 100%; z-index: 2; background: #f5f5f5;}
.menu{padding: 0; list-style: none; float: right; margin-top: 10px}
.menu li{float: left; margin-left: 70px}
.menu li a{font-size: 12px ;font-weight: 600;color: #2e368f}
.botonazul{background: #00abc7;background: #00abc7;color: #fff;padding: 5px 10px;border-radius: 5px;display: block;width: 115px;text-align: center;}
.botonazul:hover{color: #fff ; text-decoration: none; opacity: 0.9}
.botonazul2{background: #323594 !important;background: #00abc7;color: #fff;padding: 5px 10px;border-radius: 5px;display: block;width: 115px;text-align: center;}
.botonazul2:hover{color: #fff ; text-decoration: none; opacity: 0.9}
h2.banner{font-size: 52px; color: #323594; font-weight: 700;margin-top: 100px}
p.banner{color: #3a3a3a; font-size: 18px}
main{padding-top: 80px}
.modulo{float: left;width: 100%}
.banner1{background: url(../img/b1.png); background-position: bottom right; background-repeat: no-repeat;     min-height: 397px;}
.owl-dots {position: absolute;top: 344px;}
.owl-theme .owl-dots .owl-dot{outline: none !important}
.owl-theme .owl-dots .owl-dot span{margin: 5px 3px !important}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: #00abc7; }
#triggermenu{float: right;font-size: 30px; color: #2e368f; display: none}
.b2{background: url(../img/b2.jpg);min-height: 200px;background-repeat: no-repeat;background-size: cover; padding: 40px 0}
.b2 h2{color: #fff; font-weight: 700}
.b2 p{color: #fff;}
.botonoutline{border: 1px solid #fff;color: #fff;padding: 5px 10px;border-radius: 5px;display: block;width: 130px;text-align: center;}
.botonoutline:hover{color: #fff; text-decoration: none; opacity: 0.9}
.cerrarmenu{display: none}
.opcion{position: relative; width: 100%;}
.opcion .imgback{width: 100%;}
.opcion .imgicon{width: 100%;position: absolute;}
.opcion a{color: #fff; text-decoration: none}
.opcion h3{position: absolute;top: 90px;color: #fff;text-align: center;display: block;}
.opcion p.tac{position: absolute;width: 100%;top: 40px;}
.p40{padding: 40px 0}
.tac{text-align: center}
.backazul{background: #2e368f}
.menusecundario{color: #fff; text-align: center; display: block; width: 100%}
.menusecundario:hover{color: #8095ff; text-decoration: none}
.menusecundario i{font-size: 60px}
.menusecundario:hover::after{content: "";width: 0;height: 0;border-left: 20px solid transparent;border-right: 20px solid transparent;border-top: 20px solid #2e368f;position: absolute;bottom: -60px;left: 50%;margin-left: -20px;}
.menusecundario.active::after{content: "";width: 0;height: 0;border-left: 20px solid transparent;border-right: 20px solid transparent;border-top: 20px solid #2e368f;position: absolute;bottom: -60px;left: 50%;margin-left: -20px;}
.nota{margin: 20px 0}
.imgNota{width: 30%; float: left;}
.txtNota{width: 69%; float: left; margin-left: 1%}
.txtNota h2{font-weight: 700; color:#2e3192}
.txtNota h5{font-weight: 700; color:#2e3192}
.txtNota p{color: #3f5f7c}
.txtNota .leermas{color: #2e3192; text-align: left;width: 100%;display: block;}
.backblanco{background: #fff}
footer{border-top: 2px solid #3f5f7c;float: left;width: 100%; background: #f5f5f5;min-height: 100px;padding: 20px 0}
.logofooter{width: 150px}
.sponsored{width: 100%; float: left;font-weight: 700;color: #2e368f;font-size: 11px; margin-top: 5px}
footer a{color: #2e368f;text-decoration: underline;font-size: 12px}
footer ul{list-style: none; padding: 0}
.social li{float: left; margin: 0 3px}
.social li a{width: 20px; height: 20px; background: #2e368f; color: #fff; display: block; text-align: center; border-radius: 10px;    padding-top: 1px;}
p.posible {color: #737574;font-size: 10px;margin-bottom: 0}
p.copy{color: #2e368f;color: #2e368f;font-size: 10px;}
.contacto{text-align: right;}
.farmacovigilancia{float: right; background: #2e368f; color: #fff; text-decoration: none; padding: 10px}
.imgNota img {width: 100%;}
.subheader{padding: 20px 0}
.subheader h1{font-weight: 700; color: #2e368f; font-size: 38px}
.subheader img, .subheader h1,.subheader p{float: left;}
.subheader h1,.subheader p{width: 60%;    margin-left: 20px;}
.subheader p{color: #3f5f7c}
.breadcrum{width: 100%; float: left; margin: 10px 0}
.breadcrum ul{list-style: none; padding: 0}
.breadcrum ul li{float: left;    color: #2e368f;font-size: 12px; margin-left: 5px}
.formcontacto input[type=text],.formcontacto select{border: none;border-bottom: 2px solid #3f5f7c;outline: none;margin: 20px 0;background: transparent;-webkit-appearance: none;-webkit-border-radius: 0px;color: #3f5f7c}
.formcontacto input[type="checkbox"]{border: 1px solid}
.formcontacto  input.w50{width: 49% ; margin-right: 1%; float: left;}
.formcontacto  input.w25{width: 24% ; margin-right: 1%; float: left;}
.formcontacto  select.w50{width: 49% ; margin-right: 1%; float: left;}
.formcontacto  select.w25{width: 24% ; margin-right: 1%; float: left;}
.formcontacto label{color: #3f5f7c; font-size: 12px}
.encuentra_especialista{-webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.31);-moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.31);box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.31);padding: 10px;margin-top: -50px;background: #fff;    border-radius: 5px;}
.encuentra_especialista select{border: none;border-bottom: 2px solid #3f5f7c;outline: none;margin: 20px 0;background: transparent;color: #3f5f7c;width: 100%}
.encuentra_especialista button{color: #fff;background: #f25b5b;border: none; border-radius: 4px}
.encuentra_especialista h2{font-weight: 700;color: #2e3192}
.boton_padecimiento{background: url(../img/back_padecimiento.jpg);padding: 20px 0;float: left;color: #fff;font-weight: 700;text-align: center;width: 280px;margin: 10px;}
p.italic.f12 {font-size: 12px;font-style: italic;padding-top: 5px;}
h1,h2,h3,h4,h5{font-weight: 700}
.doctor p{color: #606060}
.doctor{margin-bottom: 20px}
.medicamento{width: 100%; float: left; margin: 20px 0}
.candado{width: 60px;background: #2e3192;font-size: 40px;border-radius: 30px;color: #fff;margin: 0 auto;}
input.form-control{border-right-color: rgb(206, 212, 218);border-left: 0}
.input-group-addon {padding-top: 7px;border-left:1px solid #ced4da; padding-left: 7px;border-bottom:1px solid #ced4da; border-top:1px solid #ced4da; color: #00abc7}
.w300{width: 300px; margin: 0 auto;}
.icono_form{width: 20px;float: left;padding-top: 3px;text-align: center;color: #00abc7}
.input_login{float: left; width: 270px; margin-bottom: 10px; padding: 0 5px}
.backgris{background: #f3f3f3}
article img{width: 100%; margin-bottom: 20px}
.relacionadas .imgNota{width: 100% !important}
.relacionadas .txtNota{width: 100% !important}
article a,article h1,article h2,article h3,article h4,article h5,article h6{color: #2e368f !important}
.w50{width: 49%; float: left;}

 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
		.opcion h3{font-size: 23px}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		.menu li{margin-left: 40px}
		.opcion h3{font-size: 16px; top: 60px}
		.opcion p.tac{top: 10px;}
		.encuentra_especialista{margin-top: 20px !important}
		.imgNota{width: 100%}
		.txtNota{width: 100%}
		.boton_padecimiento{display: block;margin:10px auto; float: none}
		.w50{width: 100%}
		.w50 .boton_padecimiento{margin: 20px auto !important; display: block !important;}
		.w50 p{text-align: center;}
		.w50 .leermas{text-align: center;width: 100%; display: block}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		.menu{display: none; position: fixed; top: -10px; left: 0; background: #fff; width: 100%}
		.menu li{width:100%; padding: 15px 0; text-align: center; margin-left: 0; border-bottom: 1px solid #e4e2e2}
		.menu li a{font-size: 20px}
		.menu li a.botonazul{background: none; width: 100%; }
		.menu li a.botonazul:hover{color: #2e368f }
		#triggermenu{display: block}
		.cerrarmenu{text-align: right !important; padding-right: 20px !important; display: block; }
		#cerrarmenu{font-size: 30px !important}
		.opcion{margin: 20px 0}
		.opcion h3{font-size: 28px; top: 180px; width: 100%; text-align: center;}
		.opcion p.tac{top: 90px;}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }